.footer {
  width: 408px;
  height: 20px;
  margin: 0.3px 0 0;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7d7d7d;
}
